<h1>{{film?.title}}</h1>
<h2>{{episode}}</h2>

<section>
  <h4>Details:</h4>
  <p><b>Director:</b> {{film?.director}}</p>
  <p><b>Producer:</b> {{film?.producer}}</p>
  <p><b>Release Date:</b> {{film?.release_date | date: 'dd.MM.yyyy'}}</p>
  <textarea [innerHTML]="film?.opening_crawl">
  </textarea>
</section>

<section>
  <h4>Characters:</h4>

  <ng-container *ngFor="let character of characters">
    <button *ngIf="character | async as c" (click)="goToCharacter(c.url)">{{c.name}}</button>
  </ng-container>
</section>

<section>
  <h4>Planets:</h4>

  <ng-container *ngFor="let planet of planets">
    <button *ngIf="planet | async as p">{{p.name}}</button>
  </ng-container>
</section>

<section>
  <h4>Starships:</h4>

  <ng-container *ngFor="let starship of starships">
    <button *ngIf="starship | async as s">{{s.name}}</button>
  </ng-container>
</section>

<section>
  <h4>Vehicles:</h4>

  <ng-container *ngFor="let vehicle of vehicles">
    <button *ngIf="vehicle | async as v">{{v.name}}</button>
  </ng-container>
</section>
