<h2>Filmdetails</h2>
<h1>{{film?.title}}</h1>
<h3>{{episode}}</h3>

<section>
  <h4>Details:</h4>
  <p>Director: {{film?.director}}</p>
  <p>Producer: {{film?.producer}}</p>
  <p>Release Date: {{film?.release_date | date: 'dd.MM.yyyy'}}</p>
  <textarea [innerHTML]="film?.opening_crawl">
  </textarea>
</section>

<section>
  <h4>Characters:</h4>

  <ng-container *ngFor="let character of characters">
    <div *ngIf="character | async as c">{{c.name}}</div>
  </ng-container>
</section>

<section>
  <h4>Planets:</h4>

  <ng-container *ngFor="let planet of planets">
    <div *ngIf="planet | async as p">{{p.name}}</div>
  </ng-container>
</section>

<section>
  <h4>Starships:</h4>

  <ng-container *ngFor="let starship of starships">
    <div *ngIf="starship | async as s">{{s.name}}</div>
  </ng-container>
</section>

<section>
  <h4>Vehicles:</h4>

  <ng-container *ngFor="let vehicle of vehicles">
    <div *ngIf="vehicle | async as v">{{v.name}}</div>
  </ng-container>
</section>
