:root {
  --a-background-color: black;
  --a-font-color: #FFE919;
  --a-font-color-primary: #ABDDED;

  --b-background-color: white;
  --b-background-color-secondary: #EFEFEF;
  --b-font-color: black;

  --shadow-color: #c5c5c5;
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans';
}

h1 {
  font-family: 'Star Jedi';
  font-size: 3em;
}
h1,h2 {
  text-align: center;
  margin: 0;
}
h2 {
  font-weight: normal;
}

input {
  font-family: 'Open Sans';
  padding: 1em;
  border-radius: 2px;
}

section {
  margin: 1em;
}

section textarea {
  font-family: 'Open Sans';
  font-size: 0.9em;
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
}

section button {
  margin: .5em 1em .5em 0;
  padding: 1em;
  background-color: var(--b-background-color-secondary);
  border-radius: 2px;
  border: none;
  font-weight: bold;
}

.card {
  margin: 1em;
  padding: 2em;
  background-color: var(--b-background-color-secondary);
  box-shadow: 0px 2px 4px var(--shadow-color);
}

.card h4 {
  margin: 0 0 1em;
  font-size: 1.25em;
}

.card p {
  font-size: 0.8em;
  margin: 0;
}

.card a {
  display: inline-block;
  margin-top: 1em;
  text-decoration: none;
  color: var(--b-font-color);
  font-size: 0.8em;
}

.load-cards-button {
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.load-cards-button:hover {
  color: var(--a-font-color-primary);
}
