.header-container {
  background-color: black;
}

.header {
  color: gold;
  padding: 1em;
}

a {
  font-size: 0.8em;
  color: gold;
  margin: 0.5em;
  text-decoration: none;
}

.active {
  color: #eea4ff;
}

.mobile-app-title {
  font-family: 'Star Jedi Hollow';
  margin: 0;
  font-size: 1.5em;
}
