<div fxLayout="column" fxFlexFill>
  <div fxLayout="row" fxLayoutAlign="center stretch" class="header-container">
    <!-- DESKTOP -->
    <header fxShow.gt-xs fxHide.xs fxFlex fxFlex.gt-md="1280px"
            class="header" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
      <img src="assets/icons/icons8-star-wars.svg">
      <nav fxLayout="row wrap">
        <a routerLink="films" routerLinkActive="active">{{films}}</a>
        <a routerLink="characters" routerLinkActive="active">{{characteres}}</a>
        <a routerLink="species" routerLinkActive="active">{{species}}</a>
        <a routerLink="planets" routerLinkActive="active" >{{planets}}</a>
        <a routerLink="starships" routerLinkActive="active">{{starships}}</a>
        <a routerLink="vehicles" routerLinkActive="active">{{vehicles}}</a>
      </nav>
      <div fxFlex></div>
      <input placeholder="Search">
    </header>

    <!-- MOBILE -->
    <header fxHide.gt-xs fxShow.xs fxFlex
            class="header" fxLayout="row" fxLayoutAlign="space-between center">
      <i class="material-icons">menu</i>
      <h1 class="mobile-app-title">Star Wars</h1>
      <i class="material-icons">search</i>
    </header>
  </div>


  <div fxFlex fxLayout="row" fxLayoutAlign="center stretch">
    <main fxFlex fxFlex.gt-md="1280px">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>



